body {
  background-color: var(--main-backgroond);
}

.application-body {
  max-width: 100%;
  margin: 100px auto;
  position: relative;
  font-family: sans-serif;
}
:root {
  --primary-color: #00c281;
  --terciary-color: #fff;
  --terciary-colorBack: #f1f1f1f3;
  --main-backgroond: #002922ea;
  --shadow-color: #000000a9;
  --dhikar-btn-background-color: #fff4df;
  --box-shadow: #00000048;
}
.main-head,
.close-tool,
.cards-cell,
.icon-cell,
.times-head,
.saved-dhikar-list-element,
.dhikar-list-both-cell,
.dhikar-list-element,
.about-Allah-names,
.Allah-prophet-names,
.about-prophet-names,
.salah-cell,
.set-btn,
.getSalahALL {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.window-btn,
.close-window,
.qibla-btn,
.about-Allah-names,
.about-Allah-names-cell,
.saved-dhikar-head,
.btn-add-dhikar-to-list,
.dhikar-list-both,
.saved-dhikar-list-element,
.about-dhikar,
.dhikar-list-element,
.saved-dhikar-list-paper,
.delete-list-el,
.times1,
.major-tasmee-counter,
.pro-section,
.background-kalma,
.about-dhikar-body,
.about-prophet-names-cell,
.set-salah,
.getSalahALL,
.salah-time,
.more-settings,
.aboutapp-set,
.salah-learning {
  background-color: var(--terciary-color);
}
.name,
.saved-dhikar-head,
.btn-add-dhikar-to-list,
.dhikar-list-both,
.saved-dhikar-list-element,
.delete-list-el,
.all-Allah-names,
.all-prophet-names,
.close-dhikar-windows,
.btn-leave-saved-dhikar,
.btn-close-all-dhikar,
.close-btn,
.dhikar-act,
.dhikar-act1,
.salah-name .pro,
.card-body,
.pro-pal,
.app-name {
  font-size: 1.4rem;
}
.about-Allah-names-cell,
.about-Allah-names,
.about-Allah-names-cell,
.dhikar-list-both,
.about-dhikar,
.saved-dhikar-list-paper,
.all-Allah-names,
.all-prophet-names,
.dhikar-act1,
.background-kalma,
.about-prophet-names,
.getSalahALL,
.set-salah {
  border-radius: 11px;
}

.getSalahALL,
.set-salah,
.pro-section,
.dhikar-list-element,
.main-body,
.saved-dhikar-list-element,
.about-Allah-names,
.about-prophet-names,
.about-salah-div,
.times1,
.more-settings,
.aboutapp-set {
  box-shadow: 0 1px 5px var(--box-shadow);
}
.card-head,
.btn-subscribe,
.about,
.rise,
.all-Allah-names,
.all-prophet-names,
.dhikar-list-both {
  color: var(--terciary-color);
}
.kalma-in-english,
.pro-head,
.about,
.app-name,
.to-list,
.close-dhikar-windows,
.btn-leave-saved-dhikar,
.btn-close-all-dhikar,
.close-btn,
.close-kalma-btn,
.dhikar-act1 {
  color: var(--primary-color);
}

.card-discription,
.pro-pal,
.pro-head {
  text-align: center;
}
.cards-cell {
  gap: 15px;
}
.icon-cell {
  justify-content: space-evenly;
  margin: 20px;
  padding: 3px;
}
.btn {
  display: inline-block;
  cursor: pointer;
  border: none;
}
.window-btn {
  background-image: linear-gradient(to right, #24ebc0, #52ff52);
  font-size: 1.2rem;
  border-radius: 25px;
  padding: 5px 20px;
}
.pro-section {
  max-width: 760px;
  position: absolute;
  top: 40%;
  left: 40%;
  transform: translate(-30%, -10%);
  padding: 40px;
  border-radius: 5px;
  z-index: 10;
}
.hidden {
  display: none;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000099;
  /* backdrop-filter: blur(3px); */
  /* z-index: 5; */
  height: 120vh;
}

.close-tool {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}
.pro-card {
  border: 1px solid #0e0e0e;
}
.card-head {
  font-weight: 400;
  text-align: center;
  padding: 8px;
  margin-top: -1px;
  font-size: clamp(10px, 4vw, 12px);
}
.pro-card {
  border-radius: 11px;
}
.card-head {
  border-top-left-radius: 11px;
  border-top-right-radius: 11px;
  background-color: #0e0e0e;
}
.card-body,
.card-pal {
  text-align: center;
  padding: 2px;
}

.card-pal {
  font-size: clamp(6px, 4vw, 12px);
}
.empty {
  background-color: #0e0e0e;
  padding: 18px;
  border-bottom-left-radius: 11px;
  border-bottom-right-radius: 11px;
}
.pro-green {
  background-color: var(--primary-color);
}
.cell-green {
  border: 1px solid var(--primary-color);
}
.pro-head {
  font-size: 1.2rem;
  font-weight: 600;
}
.icons {
  border: none;
  height: 35px;
  width: 35px;
  border-radius: 50%;
}
.pro-pal {
  font-weight: 600;
}

.card-discription {
  font-size: 12px;
}
em {
  font-weight: 600;
}
.btn-subscribe {
  background-color: var(--primary-color);
  padding: 6px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  text-align: center;
  border-radius: 11px;
  display: flex;
  align-self: center;
  justify-self: center;
}
.close-window {
  font-size: 1.4rem;
  border-radius: 50%;
  padding: 8px;
  color: black;
}
.times-head {
  margin: 2px;
}
/* MAIN BODY */
.main-body {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(90px, 1fr));
  align-items: center;
  justify-content: space-around;
  gap: 10px;
  /* text-align: center; */
  padding: 10px;
  background-color: var(--terciary-colorBack);
  border-radius: 11px;
}

.qibla-btn {
  width: 100px;
  height: 100px;
  border-radius: 11px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.divisions {
  display: flex;
  align-self: center;
  justify-self: center;
}
.head-divi {
  color: #111111;
  font-weight: 500;
  font-size: 1rem;
}
.divi-icon {
  width: 40px;
  height: 40px;
}

.about,
.rise {
  font-size: 1.2rem;
}
.about,
.app-name {
  font-weight: 500;
}
/* .invisible {
  display: none;
} */
/* MAIN BODY  section Allah names*/

.Allah-prophet-names,
.all-Allah-names,
.all-prophet-names {
  background-color: var(--main-backgroond);
}

.about-Allah-names,
.about-prophet-names,
.about-salah-div,
.times1 {
  margin: 5px;
}
.about-Allah-names-cell,
.about-prophet-names {
  padding: 10px 5px;
  gap: 10px;
}
.name {
  font-weight: 600;
}
.pro {
  font-weight: 500;
  text-transform: capitalize;
}
.trans-eng,
.trans-arabic {
  font-size: 1.2rem;
  font-weight: 500;
  text-transform: capitalize;
}

/* MAIN BODY  section dhikar*/

#saved-dhikar-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid var(--primary-color);
}
#saved-dhikar-input:focus {
  outline: none;
}
.saved-dhikar-head,
.btn-add-dhikar-to-list,
.dhikar-list-both {
  padding: 10px;
}
.saved-dhikar-head {
  margin-top: 40px;
}
.dhikar-list-both,
.dhikar-list-both-cell {
  background-color: var(--main-backgroond);
}
.dhikar-list-both-cell {
  padding: 5px;
}
.saved-dhikar-action-btns {
  display: flex;
  justify-content: space-around;
}

.saved-dhikar-list-element {
  margin: 5px;
  border-radius: 8px;
  justify-content: space-between;
  padding: 0 20px;
}
.about-dhikar {
  padding: 5px;
}

.dhikar-list-element {
  font-size: 1rem;
  margin: 5px;
  border-radius: 11px;
}
.saved-dhikar-list-paper {
  padding: 5px;
  justify-content: space-between;
}
.el-list-child {
  font-size: 1.6rem;
}
.delete-list-el,
.all-Allah-names,
.all-prophet-names {
  font-weight: 500;
  padding: 10px;
}

.major-tasmee-counter {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 70px 30px 20px;
  border-radius: 11px;
}
.close-dhikar-windows,
.btn-leave-saved-dhikar,
.btn-close-all-dhikar,
.close-btn,
.close-kalma-btn {
  font-weight: 500;
  padding: 10px;
  border-radius: 25px;
  margin-bottom: 50px;
  background-color: var(--main-backgroond);
}
#counter-dhikar {
  width: 150px;
  height: 150px;
  text-align: center;
  font-size: 1.8rem;
  font-weight: 600;
  border-radius: 50%;
  border: 5px solid var(--main-backgroond);
  background-color: var(--dhikar-btn-background-color);
}
.dhikar-act {
  font-weight: 500;
  padding: 10px;
  border-radius: 25px;
  margin: 10px;
  color: black;
  background-color: var(--dhikar-btn-background-color);
}
.dhikar-act1 {
  font-weight: 500;
  padding: 10px;
  margin-top: 20px;
  background-color: var(--main-backgroond);
}
.dhikar-list-add-save {
  display: flex;
  justify-content: space-around;
  gap: 20px;
}
.count-tasme {
  display: flex;
}
.tasmee-counter-head,
.saved-dhikar-cell {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.tasmee-counter-head {
  top: 45%;
}
/* kalma-reading */

.kalmas {
  padding: 5px;
}
.kalma-in-english {
  border-bottom: 1px solid #00000023;
  padding-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
}
.translate-kalma {
  font-weight: 400;
  font-size: 1.4rem;
  text-transform: capitalize;
}
.kalma-postion {
  font-size: 1.6rem;
  font-weight: 500;
  text-align: center;
}
.kalma-in-arabic {
  text-align: center;
  font-size: 1.6rem;
  font-weight: 600;
  text-align: center;
  text-transform: capitalize;
}
/* salah time */
.getSalahALL {
  padding: 5px;
  margin: 10px;
}

.set-salah {
  width: 350px;
}
.reminder-cell {
  border-bottom: 1px solid var(--box-shadow);
}
.sound {
  padding-bottom: 30px;
}

.set-btn {
  justify-content: space-between;
  padding: 5px;
}

.mints {
  text-align: center;
}
.times1 {
  width: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.set-salah,
.times-cell {
  max-width: 300px;
  padding: 10px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.times-cell {
  overflow: none;
  top: 70%;
}
/* SETTINGS */
.appset-cell {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  padding: 10px;
  margin-bottom: 90px;
}
.more-settings,
.aboutapp-set {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}
.appset {
  text-align: center;
}
.app-setting-bac {
  background-color: #faf8f8;
}
/* SALAH LEARNIG */
.all-steps {
  max-width: 100rem;
  height: 50rem;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
}
.step-cell {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.action-image {
  width: 100%;
  height: auto;
}
.salah-head-arabic {
  text-align: center;
}
.use-of-act,
.arabic-translation {
  margin-left: 10px;
}
.slide {
  position: absolute;
  top: 40%;
  z-index: 10;

  border: none;
  background: var(--main-backgroond);
  /* font-family: inherit; */
  color: var(--terciary-color);
  border-radius: 50%;
  height: 3rem;
  width: 3rem;
  font-size: 1.5rem;
  cursor: pointer;
  transform: translateX();
}

.slide--left {
  left: 6%;
  transform: translate(-50%, -50%);
}

.slide--right {
  right: 6%;
  transform: translate(50%, -50%);
}
